VLLM_HOST={{ vllm.get('host', '0.0.0.0') }}
VLLM_PORT={{ vllm.get('port', 8000) }}
VLLM_MODEL={{ vllm.get('model', '/models/model') }}
VLLM_SERVED_MODEL_NAME={{ vllm.get('served_model_name', 'local-model') }}
VLLM_GPU_MEMORY_UTILIZATION={{ vllm.get('gpu_memory_utilization', 0.90) }}
VLLM_MAX_MODEL_LEN={{ vllm.get('max_model_len', 32768) }}
VLLM_TENSOR_PARALLEL_SIZE={{ vllm.get('tensor_parallel_size', 1) }}
